{
  "printWidth": 100,
  "useTabs": false,
  "semi": false,
  "singleQuote": false,
  "jsxSingleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "formatOnSave": "true"
}
